@use '../../sass/abstracts/variables';

.input {
  background-color: variables.$clr-dark-desaturated-blue;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 5px;
}

.input__form {
  padding: 1.2rem 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
}

.input__form-input {
  padding-left: 1.2rem;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.1rem;
}

.input__icon {
  font-size: 1.3rem;
  color: variables.$clr-very-dark-grayish-blue;
  margin-left: 1rem;
}

input {
  color: variables.$clr-light-gray-blue;
}