/* ------------------- Colors ---------------------------- */

$clr-dark-bg : hsl(235, 21%, 11%);
$clr-dark-desaturated-blue: hsl(235, 24%, 19%);
$clr-light-gray-blue: hsl(234, 39%, 85%);
$clr-light-gray-blue-hover: hsl(236, 33%, 92%);
$clr-dark-grayish-blue: hsl(234, 11%, 52%);
$clr-very-dark-grayish-blue: hsl(233, 14%, 35%);
$clr-very-dark-grayish-blue2: hsl(237, 14%, 26%);

/* ------------------------------- Fonts ------------------*/
$ff: 'Josefin Sans', sans-serif;

/* ------------------------- Font weight -------------------------*/
$fw-normal: 400;
$fw-bold: 700;