@use './sass/abstracts/variables';

.app {
  min-height: 100vh;
  background-color: variables.$clr-dark-bg;
}

.app__todo {
  width: 40%;
  margin: auto;
  transform: translateY(-12rem);
}

@media screen and (max-width: 900px) {
  .app__todo {
    width: 60%;
  }
}